body{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap:10px
}


#container{
    background-color: white;
    border: 2px solid rgb(148, 125, 125);
    width: 500px ;
    height: 500px ;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    padding: 0px;
   flex:auto;

    
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

.insideDiv{
    margin: 0px;
    padding: 0px ;
 
    background-color: white;
  
}
